* {
  margin: 0 auto;
  padding: 0;
}

.header {
  width: 1278px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.login {
  width: 100%;
  height: 165px;
}
.login .banner {
  width: 1278px;
  height: 115px;
  background: url(../images/2016headerbg.jpg) no-repeat center center;
  background-size: 168% 100%;
  position: relative;
}
.login .banner .logo {
  display: block;
  width: 268px;
  height: 63px;
  background: url(../images/2016CompanyLogo.png) no-repeat center center;
  position: absolute;
  top: 25px;
  left: 60px;
}
.login .banner .input {
  width: 300px;
  height: 36px;
  border: 3px solid #521b76;
  position: absolute;
  top: 40px;
  left: 500px;
  border-radius: 5px;
}
.login .banner .input input {
  width: 258px;
  height: 30px;
  outline: none;
  float: left;
  border: 0;
  color: #521b76;
  font-size: 14px;
}
.login .banner .input input::-moz-placeholder {
  color: #521b76;
}
.login .banner .input input::-webkit-input-placeholder {
  color: #521b76;
}
.login .banner .input span {
  display: inline-block;
  width: 35px;
  height: 30px;
  cursor: pointer;
  background: url(../images/search.jpg) no-repeat center center;
  float: left;
}
.login .banner .contact {
  width: 338px;
  height: 30px;
  position: absolute;
  top: 15px;
  right: 20px;
}
.login .banner .contact li {
  float: left;
  list-style: none;
  background: url(../images/border.jpg) no-repeat right center;
  padding: 10px;
  font-size: 12px;
}
.login .banner .contact li a {
  text-decoration: none;
}
.login .banner .contact li span {
  display: inline-block;
  width: 20px;
  height: 10px;
  background: url(../images/xiala.jpg) no-repeat center center;
}
.login .banner .contact .lastChild {
  background-image: none;
}
.login .banner .userInfo {
  position: relative;
  width: 223px;
  height: 50px;
  top: 50px;
  right: -495px;
}
.login .banner .userInfo dl {
  float: left;
  padding-right: 10px;
  margin-top: 10px;
}
.login .banner .userInfo dl dt {
  width: 35px;
  height: 35px;
  float: left;
  margin-right: 10px;
}
.login .banner .userInfo dl .login_pic {
  background: url(../images/2016CommonSprite.png) no-repeat -276px -314px;
}
.login .banner .userInfo dl .cart_pic {
  background: url(../images/2016CommonSprite.png) no-repeat -311px -314px;
}
.login .banner .userInfo dl dd {
  float: left;
  line-height: 35px;
  font-size: 14px;
}
.login .banner .userInfo dl dd a {
  color: #b56fb8;
  text-decoration: none;
}
.login .banner .userInfo .shopping_basket {
  position: absolute;
  top: 50px;
  left: -157px;
  width: 380px;
  border: 1px solid red;
  z-index: 99;
  background: white;
}
.login .banner .userInfo .shopping_basket .title {
  width: 380px;
  height: 50px;
  font-size: 20px;
  font-weight: 800;
  border: 1px solid black;
  line-height: 50px;
}
.login .banner .userInfo .shopping_basket .products_detail {
  width: 380px;
  border: 1px solid black;
}
.login .banner .userInfo .shopping_basket .products_detail .cart_temp {
  width: 380px;
  border: 1px solid red;
  background: white;
}
.login .banner .userInfo .shopping_basket .products_detail .cart_temp ul {
  width: 380px;
  height: 50px;
  margin-top: 10px;
}
.login .banner .userInfo .shopping_basket .products_detail .cart_temp ul li {
  list-style: none;
  float: left;
}
.login .banner .userInfo .shopping_basket .products_detail .cart_temp ul li:nth-child(1) {
  width: 80px;
}
.login .banner .userInfo .shopping_basket .products_detail .cart_temp ul li:nth-child(1) img {
  width: 80px;
  height: 50px;
}
.login .banner .userInfo .shopping_basket .products_detail .cart_temp ul li:nth-child(2) {
  width: 198px;
  text-align: left;
}
.login .banner .userInfo .shopping_basket .products_detail .cart_temp ul li:nth-child(3) {
  width: 100px;
  text-align: center;
}
.login .banner .userInfo .shopping_basket .pay_blank {
  width: 380px;
  height: 80px;
  margin-top: 20px;
  border: 1px solid black;
}
.login .banner .userInfo .shopping_basket .pay_blank span {
  display: block;
  width: 50%;
  height: 30px;
  font-size: 12px;
  border: 1px solid black;
  float: left;
  font-size: 20px;
  line-height: 30px;
}
.login .banner .userInfo .shopping_basket .pay_blank span:nth-child(2) {
  text-align: right;
}
.login .banner .userInfo .shopping_basket .pay_blank .pay {
  width: 60px;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
  float: right;
  cursor: pointer;
  background: #00a69c;
  color: white;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  margin-right: 20px;
  margin-top: 10px;
}
.login .nav {
  width: 1278px;
  height: 50px;
  background: linear-gradient(to right, #623381 30%, #c62f7a 100%);
}
.login .nav li {
  margin-top: 5px;
  width: 111px;
  height: 45px;
  line-height: 45px;
  list-style: none;
  float: left;
  color: white;
  text-align: center;
}
.login .nav li a {
  text-decoration: none;
  color: white;
  font-size: 12px;
}
.login .nav li:nth-child(1) {
  margin-left: 50px;
  width: 225px;
  text-align: center;
  color: white;
}
.login .nav li:nth-child(1) span {
  margin-top: 7px;
  display: inline-block;
  width: 15px;
  height: 30px;
  background: url(../images/2016CommonSprite.png) no-repeat -260px -175px;
  float: left;
  margin: 8px 5px 0 30px;
}
.login .nav li:nth-child(1) a {
  float: left;
  display: inline-block;
  height: 45px;
  font-size: 16px;
}
.login .nav li:nth-child(1) .tag_name {
  display: none;
}
.login .nav li:nth-child(9) span {
  display: inline-block;
  width: 20px;
  height: 22px;
  background: url(../images/2016CommonSprite.png) no-repeat -276px -347px;
}
.login .nav li:nth-child(10) span {
  display: inline-block;
  width: 20px;
  height: 22px;
  background: url(../images/2016CommonSprite.png) no-repeat -295px -347px;
}
.login .nav li:hover {
  background: white;
  border-radius: 5px;
  height: 47px;
}
.login .nav li:hover > a {
  text-decoration: none;
  color: black;
}
.login .nav li:nth-child(9):hover span {
  background: url(../images/2016CommonSprite.png) no-repeat -276px -363px;
}
.login .nav li:nth-child(10):hover span {
  background: url(../images/2016CommonSprite.png) no-repeat -295px -363px;
}
.login .nav li:nth-child(1):hover {
  position: relative;
}
.login .nav li:nth-child(1):hover .more_tag {
  background: url(../images/2016CommonSprite.png) no-repeat -276px -177px;
}
.login .nav li:nth-child(1):hover .tag_name {
  display: block;
  width: 500px;
  height: 600px;
  position: absolute;
  background: white;
  z-index: 999;
  top: 47px;
  left: 0;
}
.login .nav li:nth-child(1):hover .tag_name .left {
  width: 300px;
  height: 600px;
  float: left;
}
.login .nav li:nth-child(1):hover .tag_name .left .tag_search {
  width: 294px;
  height: 36px;
  border: 3px solid #521b76;
  border-radius: 5px;
}
.login .nav li:nth-child(1):hover .tag_name .left .tag_search input {
  width: 265px;
  height: 30px;
  outline: none;
  float: left;
  border: 0;
  color: black;
}
.login .nav li:nth-child(1):hover .tag_name .left .tag_search span {
  margin: 0;
  display: inline-block;
  width: 20px;
  height: 30px;
  float: left;
  background: url(../images/search.jpg) no-repeat center center;
  cursor: pointer;
}
.login .nav li:nth-child(1):hover .tag_name .left .charactor {
  position: relative;
  width: 298px;
  height: 565px;
}
.login .nav li:nth-child(1):hover .tag_name .left .charactor .u1 {
  width: 40px;
  height: 565px;
  border: 1px solid black;
  float: left;
}
.login .nav li:nth-child(1):hover .tag_name .left .charactor .u1 li {
  list-style: none;
  float: left;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  color: #623381;
  margin-bottom: 3px;
  cursor: pointer;
}
.login .nav li:nth-child(1):hover .tag_name .left .charactor .u1 li:hover {
  background: #623381;
  color: white;
}
.login .nav li:nth-child(1):hover .tag_name .left .charactor .brand {
  width: 256px;
  height: 500px;
  float: left;
  overflow: auto;
}
.login .nav li:nth-child(1):hover .tag_name .left .charactor .brand a {
  display: block;
  width: 100%;
  color: #623381;
  height: 25px;
  font-size: 14px;
}
.login .nav li:nth-child(1):hover .tag_name .left .charactor .brand a:hover {
  color: #76327f;
  text-decoration: underline;
}
.login .nav li:nth-child(1):hover .tag_name .left .charactor .brand .charactor_tag {
  font-size: 20px;
  color: #521b76;
  font-weight: bold;
  width: 100%;
  text-align: left;
}
.login .nav li:nth-child(1):hover .tag_name .recommend {
  width: 196px;
  height: 600px;
  float: left;
}
.login .nav li:nth-child(1):hover .tag_name .recommend h3 {
  color: white;
  background: #623381;
  width: 100%;
  height: 30px;
}

/*# sourceMappingURL=header.css.map */
