<div class="login">
	<div class="banner">
		<a href="#" title="strawberrynet" class="logo"></a>
		<div class="input">
			<input class="input_txt" type="text" placeholder="搜索商品/品牌/关键词" />
			<span></span>
		</div>
		<ul class="contact">
			<li><a href="#">¥CNY</a><span></span></li>
			<li><a href="#">China:English</a><span></span></li>
			<li><a href="#">订单查询</a></li>
			<li class="lastChild"><a href="#">联系我们</a></li>
		</ul>
		<div class="userInfo">
			<dl>
				<dt class="login_pic"></dt>
				<dd><a class="click_login" href="javascript:void(0)">注册或登录</a></dd>
			</dl>

			<dl>
				<dt class="cart_pic"></dt>
				<dd><a href="#">购物篮</a></dd>
			</dl>
			
			<div class="shopping_basket">
				<div class="title"><span>0</span><span>件商品</span></div>
				<div class="products_detail">
					
				</div>
				<div class="pay_blank">
					<span>总额</span>
					<span>¥0.00</span>
					<div class="pay">付款</div>
				</div>
				
			</div>
			
			
		</div>
	</div>

	<div class="nav">
		<ul>
			<li><span class="more_tag"></span><a href="#">根据品牌选购</a>
				<div class="tag_name">
					<div class="left">
						<div class="tag_search">
							<input type="text" placeholder="搜索品牌" />
							<span></span>
						</div>
						<div class="charactor">
							<ul class="u1">
								<li>A</li>
								<li>B</li>
								<li>C</li>
								<li>D</li>
								<li>E</li>
								<li>F</li>
								<li>G</li>
								<li>H</li>
								<li>I</li>
								<li>J</li>
								<li>K</li>
								<li>L</li>
								<li>M</li>
								<li>N</li>
								<li>O</li>
								<li>P</li>
								<li>Q</li>
								<li>R</li>
								<li>S</li>
								<li>T</li>
								<li>U</li>
								<li>V</li>
								<li>W</li>
								<li>X</li>
								<li>Y</li>
								<li>Z</li>
								<li>#</li>
							</ul>
							<div class="brand">
								<div class="charactor_tag" id="a_meun">A</div>
								<div class="charactor_tag" id="b_meun">B</div>
								<div class="charactor_tag" id="c_meun">C</div>
								<div class="charactor_tag" id="d_meun">D</div>
								<div class="charactor_tag" id="e_meun">E</div>
								<div class="charactor_tag" id="f_meun">F</div>
								<div class="charactor_tag" id="g_meun">G</div>
								<div class="charactor_tag" id="h_meun">H</div>
								<div class="charactor_tag" id="i_meun">I</div>
								<div class="charactor_tag" id="j_meun">J</div>
								<div class="charactor_tag" id="k_meun">K</div>
								<div class="charactor_tag" id="l_meun">L</div>
								<div class="charactor_tag" id="m_meun">M</div>
								<div class="charactor_tag" id="n_meun">N</div>
								<div class="charactor_tag" id="o_meun">O</div>
								<div class="charactor_tag" id="p_meun">P</div>
								<div class="charactor_tag" id="q_meun">Q</div>
								<div class="charactor_tag" id="r_meun">R</div>
								<div class="charactor_tag" id="s_meun">S</div>
								<div class="charactor_tag" id="t_meun">T</div>
								<div class="charactor_tag" id="u_meun">U</div>
								<div class="charactor_tag" id="v_meun">V</div>
								<div class="charactor_tag" id="w_meun">W</div>
								<div class="charactor_tag" id="x_meun">X</div>
								<div class="charactor_tag" id="y_meun">Y</div>
								<div class="charactor_tag" id="z_meun">Z</div>

							</div>

						</div>
					</div>
					<div class="recommend">
						<h3>热销品牌</h3>
					</div>
				</div>

			</li>
			<li><a href="#">女生护肤</a></li>
			<li><a href="#">品牌彩妆</a></li>
			<li><a href="#">美发护发</a></li>
			<li><a href="#">女生香水</a></li>
			<li><a href="#">男士护肤</a></li>
			<li><a href="#">男士香水</a></li>
			<li><a href="#">暖室香颂</a></li>
			<li><span></span><a href="#">促销活动</a></li>
			<li><span></span><a href="#">新品上线</a></li>
		</ul>
	</div>
</div>

<!--<script type="text/html" id="shopping">
	<% 
		for (var i = 0, len = buy_products.length; i < len; i++) {
				var prod = buy_products[i];
		%>
		<div class="pro_detail">
			<ul>
				<li class="pro_pic"><%=prod.imgSrc%></li>
				<li class="pro_name"><%=prod.name%></li>
				<li class="pro_price"><%=prod.price%></li>
			</ul>
			
		</div>
	
	<% } %>
	
	
</script>-->


